In [6]:
from deltalake import DeltaTable

# Load the Delta table
dt = DeltaTable("../.data/taxi/yellow_cab_trips/")

In [7]:
dt.to_pandas()

,month,vendor_id,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,ratecode_id,store_and_fwd_flag,pu_location_id,do_location_id,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2018-12-01,2,2018-12-03 20:56:02,2018-12-03 21:04:59,1.0,4.27,1.0,N,107,88,1,14.0,0.5,0.5,3.06,0.0,0.3,18.36,NaN,NaN
1,2018-12-01,1,2018-12-03 20:13:38,2018-12-03 20:21:37,1.0,1.50,1.0,N,161,237,1,7.5,0.5,0.5,1.75,0.0,0.3,10.55,NaN,NaN
2,2018-12-01,1,2018-12-03 20:28:22,2018-12-03 20:36:03,1.0,1.70,1.0,N,229,263,1,8.0,0.5,0.5,1.86,0.0,0.3,11.16,NaN,NaN
3,2018-12-01,1,2018-12-03 20:41:39,2018-12-03 20:53:33,1.0,1.90,1.0,N,140,162,2,9.5,0.5,0.5,0.00,0.0,0.3,10.80,NaN,NaN
4,2018-12-01,2,2018-12-03 20:44:00,2018-12-03 20:46:38,1.0,0.77,1.0,N,231,261,1,4.5,0.5,0.5,1.16,0.0,0.3,6.96,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8195670,2018-12-01,2,2018-12-02 10:30:55,2018-12-02 10:52:22,5.0,7.01,1.0,N,100,42,1,22.5,0.0,0.5,5.00,0.0,0.3,28.30,NaN,NaN
8195671,2018-12-01,2,2018-12-02 10:05:28,2018-12-02 10:13:45,1.0,1.90,1.0,N,237,238,2,8.5,0.0,0.5,0.00,0.0,0.3,9.30,NaN,NaN
8195672,2018-12-01,2,2018-12-02 10:38:41,2018-12-02 10:43:02,1.0,0.73,1.0,N,166,166,2,5.0,0.0,0.5,0.00,0.0,0.3,5.80,NaN,NaN
8195673,2018-12-01,2,2018-12-02 10:53:53,2018-12-02 11:20:30,1.0,4.21,1.0,N,151,170,1,19.5,0.0,0.5,4.06,0.0,0.3,24.36,NaN,NaN
8195674,2018-12-01,1,2018-12-02 10:01:09,2018-12-02 10:02:47,1.0,0.30,1.0,N,264,264,1,3.5,0.0,0.5,0.85,0.0,0.3,5.15,NaN,NaN

In [9]:
import pyarrow.csv as pv

pv.read_csv("../taxi_zone_lookup.csv")

pyarrow.Table
LocationID: int64
Borough: string
Zone: string
service_zone: string
----
LocationID: [[1,2,3,4,5,...,261,262,263,264,265]]
Borough: [["EWR","Queens","Bronx","Manhattan","Staten Island",...,"Manhattan","Manhattan","Manhattan","Unknown","Unknown"]]
Zone: [["Newark Airport","Jamaica Bay","Allerton/Pelham Gardens","Alphabet City","Arden Heights",...,"World Trade Center","Yorkville East","Yorkville West","NV","NA"]]
service_zone: [["EWR","Boro Zone","Boro Zone","Yellow Zone","Boro Zone",...,"Yellow Zone","Yellow Zone","Yellow Zone","N/A","N/A"]]